<!-- Carousel ================================================== -->

<section class='homepage-slider' id='home-slider'>
  <div class='flexslider'>
    <ul class='slides'>
      <li>
        <%= image_tag 'carousel/banner-1.jpg', alt: 'First slide', size: '960x400' %>

      </li>
      <li>
        <%= image_tag 'carousel/banner-2.jpg', alt: 'First slide', size: '960x400' %>
        <div class='intro'>
          <h1>Mid season sale</h1>

          <p>
            <span>Up to 50% Off</span>
          </p>

          <p>
            <span>On selected items online and in stores</span>
          </p>
        </div>

      </li>
      <li>
        <%= image_tag 'carousel/banner-3.jpg', alt: 'First slide', size: '960x400' %>

      </li>
      <li>
        <%= image_tag 'carousel/banner-4.jpg', alt: 'Forth slide', size: '960x400' %>

      </li>

    </ul>
  </div>
</section>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<section class='header_text'>
  We stand for top quality of product. Our genuine Original Brand always pure and 100% authentic.
  <br/>
  Don't miss to use our Great abd Best deal on COOLHEADZ.
</section>
<section class='main-content'>
<div class='row'>
<div class='span12'>
<div class='row'>
  <div class='span12'>
    <h4 class='title'>
      <span class='pull-left'><span class='text'><span class='line'>Feature <strong>Products</strong></span></span></span><span class='pull-right'> <a class='left button' href='#myCarousel' data-slide='prev'></a><a class='right button' href='#myCarousel' data-slide='next'></a> </span>
    </h4>

    <div id='myCarousel' class='myCarousel carousel slide'>
      <div class='carousel-inner'>
        <div class='active item'>
          <ul class='thumbnails'>
            <li class='span3'>
              <div class='product-box'>
                <span class='sale_tag'></span>

                <p>
                  <a href='/products'><%= image_tag 'item1.jpg', alt: 'oakley' %></a></a>
                </p>
                <a href='/products' class='title'>Oakley</a>
                <br/>
                <a href='/products' class='category'>Sunglasses</a>

                <p class='price'>
                  €159.25
                </p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <span class='sale_tag'></span>

                <p>
                  <a href='/products'><%= image_tag '2.jpg', alt: 'Prada' %></a></a>
                </p>
                <a href='product_detail.html' class='title'>Prada</a>
                <br/>
                <a href='products.html' class='category'>Sunglasses</a>

                <p class='price'>
                  €154.50
                </p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <p>
                  <a href='/products'><%= image_tag '3.jpg', alt: 'prada' %></a></a>
                </p>
                <a href='products' class='title'>Prada</a>
                <br/>
                <a href='/products' class='category'>Sunglasses</a>

                <p class='price'>
                  €144.99
                </p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <p>
                  <a href='/products'><%= image_tag '4.jpg', alt: 'oakley' %></a></a>
                </p>
                <a href='products' class='title'>Oakley</a>
                <br/>
                <a href='/products' class='category'>Sunglasses</a>

                <p class='price'>
                  €144.99
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class='item'>
          <ul class='thumbnails'>
            <li class='span3'>
              <div class='product-box'>
                <p>
                  <a href='/products'><%= image_tag '5.jpg', alt: 'oakley' %></a></a>
                </p>
                <a href='product_detail.html' class='title'>Oakley</a>
                <br/>
                <a href='products.html' class='category'>Sunglasses</a>

                <p class='price'>
                  €154.99
                </p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <p>
                  <a href='/products'><%= image_tag '6.jpg', alt: 'arnette' %></a></a>
                </p>
                <a href='product_detail.html' class='title'>Arnette</a>
                <br/>
                <a href='products.html' class='category'>Sunglasses</a>

                <p class='price'>
                  €139.99
                </p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <p>
                  <a href='/products'><%= image_tag 'item3.jpg', alt: 'prada' %></a></a>
                </p>
                <a href='/products' class='title'>Prada</a>
                <br/>
                <a href='/products' class='category'>Sunglasses</a>

                <p class='price'>
                  €145.99
                </p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <p>
                  <a href='/products'><%= image_tag 'item4.jpg', alt: 'oakley' %></a></a>
                </p>
                <a href='product_detail.html' class='title'>Oakley</a>
                <br/>
                <a href='products.html' class='category'>Sunglasses</a>

                <p class='price'>
                  €134.99
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class='row'>
  <div class='span12'>
    <h4 class='title'>
      <span class='pull-left'><span class='text'><span class='line'>Latest <strong>Products</strong></span></span></span><span class='pull-right'> <a class='left button' href='#myCarousel-2' data-slide='prev'></a><a class='right button' href='#myCarousel-2' data-slide='next'></a> </span>
    </h4>

    <div id='myCarousel-2' class='myCarousel carousel slide'>
      <div class='carousel-inner'>
        <div class='active item'>
          <ul class='thumbnails'>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/BG.jpg', alt: 'oakley' %></a></a>
                <a href='/products' class='title'>Oakley</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€17.95</p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/BK.jpg', alt: 'billabong' %></a></a>
                <a href='/products' class='title'>Billabong</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€27.95</p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/PEC.jpg', alt: 'johndeere' %></a></a>
                <a href='/products' class='title'>Pecker</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€15.95</p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/INK.jpg', alt: 'Dakine' %></a></a>
                <a href='/products' class='title'>Dakine</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€17.95</p>
              </div>
            </li>
          </ul>
        </div>
        <div class='item'>
          <ul class='thumbnails'>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/old_school.jpg', alt: 'old school' %></a></a>
                <a href='/products' class='title'>Dakine</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€19.95</p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/vintage_confederate.jpg', alt: 'johndeere' %></a></a>
                <a href='/products' class='title'>JohnDeere</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€18.95</p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/DESSU.jpg', alt: 'quicksilver' %></a></a>
                <a href='/products' class='title'>QuickSilve</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€21.95</p>
              </div>
            </li>
            <li class='span3'>
              <div class='product-box'>
                <a href='/products'><%= image_tag 'hats/TRUBLU_g.jpg', alt: 'vans' %></a></a>
                <a href='/products' class='title'>Vans</a><br/>
                <a href='#' class='category'>Hats</a>

                <p class='price'>€21.95</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row feature_box'>
  <div class='span4'>
    <div class='service'>
      <div class='responsive'>
        <%= image_tag 'feature_img_2.png', alt: 'feature pics' %>
        <h4>MODERN <strong>DESIGN</strong></h4>

        <p>
          We sell latest design and new products as soon as they release by manufactures.
        </p>
      </div>
    </div>
  </div>
  <div class='span4'>
    <div class='service'>
      <div class='customize'>
        <%= image_tag 'feature_img_1.png', alt: 'feature pics' %>
        <h4>FREE <strong>SHIPPING</strong></h4>

        <p>
          We do next day delivery in same state area.
        </p>
      </div>
    </div>
  </div>
  <div class='span4'>
    <div class='service'>
      <div class='support'>
        <%= image_tag 'feature_img_3.png', alt: 'feature pics' %>
        <h4>24/7 LIVE <strong>SUPPORT</strong></h4>

        <p>
          We provide a 24 hours 7 days a week customers supports.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
<section class='our_client'>
  <h4 class='title'><span class='text'>Brands</span></h4>

  <div class='row'>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/14.png', alt: 'esprit' %></a>
    </div>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/9.png', alt: 'Toomy hilfiger' %></a>
    </div>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/222.jpg', alt: 'quicksilver' %></a>
    </div>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/35.png', alt: 'replay' %></a>
    </div>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/3.png', alt: 'timberland' %></a>
    </div>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/26.png', alt: 'lipsy' %></a>
    </div>
    <div class='span2'>
      <a href='/brands'><%= image_tag 'clients/24.jpg', alt: 'redout' %></a>
    </div>
  </div>
</section>