<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

  <h4 class='title'><span class='text'>Safe Shopping</span></h4>
</section>
<ul class="breadcrumb">
  <li><%= link_to 'Safe Shopping', :controller => '/site', :action => 'safe_shopping' %> /</li>
  <li><%= link_to 'Delivery Returns', :controller => '/site', :action => 'delivery_returns' %> /</li>
  <li><%= link_to 'Privacy Policy', :controller => '/site', :action => 'privacy_policy' %> /</li>
  <li class="active">Safe Shopping</li>
</ul>
<div class='hero-unit'>

  <h3>Safe and Secure Online Shopping</h3>

  <p><b>Concerns About Online Shopping</b></p>
  <p>We at 'The Art Materials Company' fully understand your concerns about the security and reliability of online shopping. Because we share your concerns, we work very closely with our online development team and our online payments partner to ensure our site is a highly secure ordering environment so you can shop in our online store with the utmost confidence.

  <p>That is why we work with Stripe to provide our payment processing facility. Stripe powers commerce for thousands of sites across the web. Stripe users include large companies, rapidly-growing start-ups, side projects, and everything in between.</p>

  <p><b>Our Security Measures - Encryption Technologies</b></p>
  <p>We have appropriate security measures in place to protect against the loss, misuse or alteration of information that is collected from you so you can feel comfortable and secure when shopping. The latest industry-standard SSL (Secure Socket Layer) encryption technologies are employed when transferring and receiving your information. - Important - Credit & Bank Card Details - A key component in securing our ordering environment is that 'Coolheadz' do 'NOT' hold or store your credit or bank card information. This part of your online transaction is completed by our payments processing partner. They only retain your details in an encrypted format for the duration of the transaction.</p>

  <p><b>Setting Up Your Account</b></p>
  <p>When you setup an account with us, we only request your personal details that can be automatically entered when placing your order, such as your name, delivery address, e-mail etc... We do not request any credit or bank card details. When placing an order with us, you will be requested to enter your credit or bank card details. This valuable and sensitive information is not recorded, or stored by us at 'Coolheadz'. Therefore, each time you place an order, you will be required to provide this information. The result of all of these security features is a Web site that offers you the highest levels of security, service, convenience and trustworthiness. </p>

  <p><b>Be Assured</b></p>
  <p>Be assured that your credit card information will be safe when you place an order at www.Coolheadz.com</p>

  <p><b>As outlined above</b></p>
  <p>Coolheadz The 'Art Materials Company' will not record or store your credit or bank card information:</p>
  <p><%= image_tag('coolhead-logo.jpg') %></p>

  <p><b>Questions or Comments</b></p>
  <p>For questions, comments or assistance, please get in contact with us.</p>


</div>