<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

  <h4><span>Products Details</span></h4>
</section>
<section class="main-content">
  <div class="row">
    <div class="span9">
      <ul class="thumbnails listing-brands">
        <% @brands.each do |brand| %>
            <li class="span3">
              <div class="brand-box">
                <span class="sale_tag"></span>

                <a href="/brands" class="title"><%= link_to (brand.name), brand %></a><br/>

              </div>


              <% if current_user.try(:admin?) %>
                  <br>
                  <br>
                  <%= link_to t('.edit', :default => t('helpers.links.edit')),
                              edit_brand_path(brand), :class => 'btn btn-mini' %>
                  <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                              brand_path(brand), :method => :delete,
                              :data => {:confirm => t('.confirm', :default => t('helpers.links.confirm',
                                                                                :default => 'Are you sure?'))}, :class => 'btn btn-mini btn-danger' %>
              <% end %>
            </li>
        <% end %>
      </ul>
      <hr>
      <% if current_user.try(:admin?) %>

          <%= link_to t('.new', :default => t('helpers.links.new')),
                      new_brand_path, :class => 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="span3 col">
      <div class="block">
        <ul class="nav nav-list">
          <li class="nav-header">SUB CATEGORIES</li>
          <li><a href="brands.html">Sunglasses</a></li>
          <li class="active"><a href="brands.html">Hats</a></li>
          <li><a href="brands.html">Men</a></li>
          <li><a href="brands.html">Women</a></li>
          <li><a href="brands.html">Kids</a></li>
          <li><a href="brands.html">Brands</a></li>
        </ul>
        <br/>
        <ul class="nav nav-list below">
          <li class="nav-header">MANUFACTURES</li>
          <li><a href="brands.html">Prada</a></li>
          <li><a href="brands.html">Oakley</a></li>
          <li><a href="brands.html">Volcom</a></li>
          <li><a href="brands.html">John Deere</a></li>
        </ul>
      </div>

      <div class="block">
        <h4 class="title"><strong>Best</strong> Seller</h4>
        <ul class="small-brand">
          <li>
            <%= image_tag '1.jpg', alt: 'Ray-ban Cross' %>
            <a href="#">Ray-Ban Crosshair</a>
          </li>
          <li>
            <%= image_tag '2.jpg', alt: 'Ray-Ban Aviator' %>
            <a href="#">Ray-Ban Aviator</a>
          </li>
          <li>
            <%= image_tag '3.jpg', alt: 'Oakley' %>
            <a href="#">Oakley Big Shade</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>