<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

  <h4 class='title'><span class='text'>Product Details</span></h4>
</section>

<%- model_class = Product -%>
<section class="main-content">
  <div class="row">
    <div class="span9">
      <div class="row">
        <div class="span4">
          <%= link_to (image_tag @product.image_url, :style => 'height:200px'),
                      :class => 'thumbnail', :title => "Description 1" %>

        </div>
        <div class="span5">
          <address>
            <strong><%= model_class.human_attribute_name(:title) %></strong>
            <span><%= @product.title %> </span><br>
            <strong><%= model_class.human_attribute_name(:model) %>:</strong>
            <span><%= @product.model %></span><br>
            <strong><%= model_class.human_attribute_name(:category) %>:</strong>
            <span><%= @product.category %></span><br>
          </address>
          <h4><strong><%= model_class.human_attribute_name(:price, :unit => '€') %>:</strong>
            <span><%= number_to_currency(@product.price, :unit => '€') %></span><br></h4>
        </div>

        <dt><strong></strong></dt>
        <dd></dd>


        <% if current_user.try(:admin?) %>

            <div class="form-actions">
              <%= link_to t('.back', :default => t("helpers.links.back")),
                          products_path, :class => 'btn' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_product_path(@product), :class => 'btn' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          product_path(@product),
                          :method => 'delete',
                          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-danger' %>
            </div>
        <% end %>

        <div class="span5">
          <form class="form-inline">
            <label class="checkbox">
              <input type="checkbox" value=""> Option one is this and that
            </label>
            <br/>
            <label class="checkbox">
              <input type="checkbox" value=""> Be sure to include why it's great
            </label>

            <p>&nbsp;</p>
            <label>Qty:</label>
            <input type="text" class="span1" placeholder="1">
            <button class="btn btn-inverse" type="submit"><a href='/cart/<%= @product.id %>'>Add to Cart</a></button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="span9">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home">Description</a></li>
            <li class=""><a href="#profile">Additional Information</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <strong><%= model_class.human_attribute_name(:description) %>:</strong>
              <span><%= @product.description %></span><br>
            </div>
            <div class="tab-pane" id="profile">
              <table class="table table-striped shop_attributes">
                <tbody>
                <tr class="">
                  <th>Size</th>
                  <td>Large, Medium, Small, X-Large</td>
                </tr>
                <tr class="alt">
                  <th>Colour</th>
                  <td>Orange, Yellow</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="span9">
          <br>
          <h4 class="title">
            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
				<span class="pull-right">
				    <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
				</span>
          </h4>

          <div id="myCarousel-1" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="themes/images/ladies/6.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                      <a href="#" class="category">Suspendisse aliquet</a>

                      <p class="price">$341</p>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="themes/images/ladies/5.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                      <a href="#" class="category">Phasellus consequat</a>

                      <p class="price">$341</p>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="product-box">
                      <a href="product_detail.html"><img alt="" src="themes/images/ladies/4.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Praesent tempor sem</a><br/>
                      <a href="#" class="category">Erat gravida</a>

                      <p class="price">$28</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="item">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="themes/images/ladies/1.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                      <a href="#" class="category">Phasellus consequat</a>

                      <p class="price">$341</p>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="product-box">
                      <a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>
                      <a href="product_detail.html">Praesent tempor sem</a><br/>
                      <a href="#" class="category">Erat gravida</a>

                      <p class="price">$28</p>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a href="product_detail.html"><img alt="" src="themes/images/ladies/3.jpg"></a><br/>
                      <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                      <a href="#" class="category">Suspendisse aliquet</a>

                      <p class="price">$341</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span3 col">
      <div class="block">
        <ul class="nav nav-list">
          <li class="nav-header">CATEGORIES</li>
          <li><%= render '/products/categoryDistinctList' %></li>
          <!--<li class="active"><a href="products.html">Hats</a></li>-->
          <br/>
          <li><a href="products.html">Men</a></li>
          <li><a href="products.html">Women</a></li>
          <li><a href="products.html">Kids</a></li>

        </ul>
        <br/>
        <ul class="nav nav-list below">
          <li class="nav-header">BRANDS</li>
          <li><a href="products.html">Prada</a></li>
          <li><a href="products.html">Oakley</a></li>
          <li><a href="products.html">Volcom</a></li>
          <li><a href="products.html">John Deere</a></li>
        </ul>
      </div>

      <div class="block">
        <h4 class="title"><strong>Best</strong> Seller</h4>
        <ul class="small-product">
          <li>
            <%= image_tag '1.jpg', alt: "Ray-ban Cross" %>
            <a href="#">Ray-Ban Crosshair</a>
          </li>
          <li>
            <%= image_tag '2.jpg', alt: "Ray-Ban Aviator" %>
            <a href="#">Ray-Ban Aviator</a>
          </li>
          <li>
            <%= image_tag '3.jpg', alt: "Oakley" %>
            <a href="#">Oakley Big Shade</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>